html,
body {
    height: 100%;
    background-image: url("../assets/bg-login.jpg");
    background-position: center;
    background-repeat: initial;
    background-size: cover;
}

body {
    /* display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; */
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    padding: 70px 50px;
    margin: auto;
}

form {
    width: 100%;
    margin: 60px auto;
    background: #fff;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.text-center{
    text-align: center;
}

label {
    display: block;
    position: relative;
}
